<p style="color: green"><%= notice %></p>

<h1 class="text-center display-2">Cuenta atrás</h1>


<div id="countdowns">
  <% @countdowns.each do |countdown| %>
    <%= render countdown %>

  <% end %>
</div>
